<div class="main">
    <div class="left">



        <div class=" conte">
            <img src="../../assets/images/h12.webp" alt="blank image">

        </div>

        <div class=" contents">

            <p>Over a year, the world around us has changed more than at any other time in our
                lives. Covid-19 has evolved into a global pandemic that is rapidly destroying lives, jobs, global
                economies,
                and personal wealth. It has brought major changes in people’s livelihoods and their lifestyles. In these
                unprecedented times, the need to secure the health of your loved ones should be prioritised, especially
                with
                the inflation in medical costs. The most efficient way you could do that is by investing in an adequate
                health insurance plan which would safeguard you and your family at the time of medical emergencies.</p>

            <p>But, as we all are aware, one of the significant impacts of the pandemic has been massive job losses and
                major pay cuts across all sectors, putting people in a financially difficult situation. Which, in turn,
                has
                made it difficult for many to pay their insurance premiums. Given that, many of you might settle down
                for
                low-sum-insured plans as shelling out a large amount of money at this time is difficult. However, you no
                longer have to compromise, as the availability of equated monthly instalments (EMI) has made it quite
                affordable. In this financial crunch, you can now pay your health insurance premiums in instalments
                instead
                of an annual lump sum.</p>
            <p>The primary objective behind the introduction of this provision by the Insurance Regulatory and
                Development
                Authority of India (IRDAI) was to make health insurance plans much more affordable given the ongoing
                crisis.</p>

            <p>Following are reasons why buying a health insurance plan on the EMI option can be beneficial for you.</p>

            <p><span style="font-size:22px;"><strong>1. Higher coverage</strong></span></p>

            <p>It is no secret that Covid-19 is spreading like a wildfire all over the world. And not just a single
                member but,
                multiple members in a family are getting infected. A 15-day stay in a super-speciality hospital in the
                national
                capital can cost as much as Rs 10 lakh per person. As a result, more people are re-evaluating their
                health
                insurance needs. Given that, people are slowly moving towards high-sum insured plans, which you can now
                easily
                afford with the availability of the EMI option. Now, you no longer require to compromise on availing a
                good
                quality treatment as the benefits can be availed by paying the premium in instalment. For instance, a 1
                crore
                health plan for 30-year-old individual costs, approximately Rs 600-800 per month.</p>

            <p><span style="font-size:22px;"><strong>2. Boosts accessibility</strong></span></p>

            <p>Through the EMI option, not just the urban population but people living in rural areas as well can have
                the
                accessibility of buying insurance. As buying it on an EMI basis can be a lot cheaper and beneficial for
                them.
                Because you don’t need to pay a hefty amount in just one go, which will keep your monthly budget in
                balance and
                also give you financial protection at the same time in these tough times.</p>

            <p><span style="font-size:22px;"><strong>3. Beneficial for senior citizens</strong></span></p>

            <p>It is recommended for senior citizens to have individual medical insurance as they tend to be more prone
                to
                diseases and other serious ailments. Given how much insurance might be not an affordable option for all
                as the
                age factor increases the cost. In such situations, EMI is an attractive and affordable option for those
                with
                limited monthly income. Pocket-friendly health insurance EMIs enable them to avail themselves of the
                best-in-class medical treatment without having to worry about managing their finances.</p>

            <p><span style="font-size:22px;"><strong>4. Online payment mode</strong></span></p>

            <p>During these times when everyone is following social distancing norms, you can easily pay your health
                insurance
                EMI’s online without any hassle. It is a smooth process for the customers and saves them a lot of time
                as well.
                In addition to that, you would also receive reminder alerts about your EMIs when due, and choosing an
                auto-debit
                option ensures that you don’t miss out on an EMI payment.</p>

            <p><span style="font-size:22px;"><strong>5. Tax benefits</strong></span></p>

            <p>Section 80D of the Indian Income Tax Act, 1961 allows you to claim a tax deduction for up to Rs 50,000 in
                premiums paid as EMIs on your Mediclaim policy.</p>

            <p><span style="font-size:22px;"><strong>What Should You Do?</strong></span></p>

            <p>It is advisable to buy insurance on EMI basis as it will ease the whole process. Making it accessible to
                everyone
                without disturbing their finances, especially in these critical times. In addition to that don’t have to
                compromise anymore and can get the best health treatments without any hassle. In addition, according to
                market
                trends, about 40 to 45 per cent of first-time health insurance buyers prefer to pay their premiums in
                monthly
                instalments.</p>

            <p><strong>The author is Head-Health Insurance, Policybazaar.com</strong></p>



        </div>

    </div>

    <div class="right">
        <div class="image">
            <img  class="a1" src="../../assets/images/pb_life_1620397435.webp" alt="">
        </div>
        <div class="image">
            <img  class="a1" src="../../assets/images/pb_life_1637585191.webp" alt="">
        </div>
        <div class="image">
            <img class="a1"  src="../../assets/images/pb_life_1637585230.webp" alt="">
        </div>
        <div class="image">
            <img class="a1"  src="../../assets/images/pb_life_1637585264.webp" alt="">
        </div>
        
    </div>
</div>