.img{
    display: inline-flex;
    background-color:rgb(182, 177, 177);
  
    /* width: 100%; */
    height: 184px;
    padding: 10px;
    margin: 30px;
}
.heading{
    margin: 10px;
    padding: 10px;
}
 .heading h2{
text-align: center;
justify-content: center;
}