<div class="container-4">
    
    <div class="img">
        <img src="../assets/img/h10.jpg" alt="blank image">
        <div class="heading">
            <h2>Know your advisor</h2>
           <p> Health Insurance  is India's largest insurance web aggregator with over 100 million registered customers. But
            some fraudsters have started misusing Policybazaar's name to mislead customers.</p>

           <p> Through this service, you can instantly check your call history with us at anytime and ensure you have
            been speaking with a genuine Policybazaar advisor.</p>
        </div>
    </div>
    

</div>