<header>
  <h1><a routerLink="home"> Health Insuarance Company</a></h1>
  <!-- <div class="button" routerLink="login">
        <i class="fa fa-user"></i>
    </div> -->
  <div *ngIf="afAuth.user | async">
    <!-- <div class="button logout" (click)="logout()">
      <a >Logout</a>
      <div class="button">
        <a href="#">MyProfile</a>
        <a href="">Logout</a>
      </div>
      
    </div> -->
    <div class="button">
      <a class="btn"><i class="fa fa-user"></i></a>
      <div class="drp-dwn">
        <a routerLink="profile">Profile</a>
        <hr noshade="" >
        <a href="" (click)="logout()">Logout <i class="fa fa-sign-out"></i></a>
      </div>
    </div>
  </div>

  <div class="loggedIn" *ngIf="!(afAuth.user | async)">
    <div class="button">
      <a routerLink="login">Login <i class="fa fa-sign-in"></i></a>
    </div>
    <!-- <div class="button">
      <a routerLink="signup">Signup <i class="fa fa-sign-in"></i></a>
    </div> -->
  </div>

</header>
<router-outlet></router-outlet>