

<div class="footer">
    <div class="navigationbar">
        <ul>
            <li><a routerLink=''>Home</a></li>  
            
            <li><a routerLink='about'>About Us</a></li>
            <li><a routerLink='sitmap'>Sitemap</a></li>
            <li><a routerLink='careers'>Careers</a></li>
            <li><a routerLink='legal'>Legal & Admin Policies</a></li>
            <li><a routerLink='insurance-companies'>Insurance Companies</a></li>
            <li><a routerLink='article'>Articles</a></li>
            <li><a routerLink='contactus'>Contact Us</a></li>
            <li><a routerLink='know-your-advisor'>Know your advisor</a></li>
            <li><a routerLink='newsroom'>Newsroom</a></li>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-youtube"></i>
        </ul>
    </div>
    <div class="fcontent">
        <div class="container1">
            <h3>Payment Methods</h3>
            <h3>Secured With</h3>
        </div>
        <div class="icons">
            <div class="icon1">
                <i class="fa fab fa-cc-visa"></i>
                <i class="fa fab fa-paypal"></i>
                <i class="fab fa-google-pay"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-amazon-pay"></i>
                <i class="fab fa-apple-pay"></i>
            </div>
            <div class="icon2">
                <i class="fas fa-globe"></i>
            </div>
        </div>
        <div class="content">
            <p>
                **Discount is offered by the Insurance company as approved by IRDAI
                for the product under File & Use guidelines
                <br />
                #On the basis of your profile
                <br />

                HIC Insurance Brokers Private Limited (formerly known as
                HIC Insurance Web Aggregator Private Limited) | CIN:
                U74999HR2014PTC053454 | Registered Office - Plot No.119, Sector -
                44,<br />Gurgaon, Haryana - 122001
                <br />

                Contact Us | Legal and Admin Policies
                <br />
                HIC is now registered as a Direct Broker |Registration No.
                742, Registration Code No. IRDA/ DB 797/ 19, Valid till 09/06/2024,
                License category- Direct Broker (Life & General)| Visitors are
                hereby informed that their information submitted on the website may
                be shared with insurers.Product information is authentic and solely
                based on the information received from the insurers. © Copyright
                2008-2021 HIC.com. All Rights Reserved.
            </p>
        </div>
    </div>
</div>

