<div class="container">
    <div class="cards" id="c1">
        <img src="/01-3-1.jpg" alt="">
        <p class="para">One of the best Prices</p>
        <p>Guaranteed</p>
    </div>
    <div class="cards" id="c2">
        <img src="/01-3-1.jpg" alt="">
        <p class="para">Unbiased Advice
        <p>
        <p>Keeping Customers first</p>
    </div>
    <div class="cards" id="c3">
        <img src="/01-3-1.jpg" alt="">
        <p class="para">100% Reliable</p>
        <p>Regulated by IRDAI</p>
    </div>
    <div class="cards" id="c4">
        <img src="/01-3-1.jpg" alt="">
        <p class="para">Claims Support</p>
        <p>Made Stress-free</p>
    </div>
    <div class="cards" id="c5">
        <img src="/01-3-1.jpg" alt="">
        <p class="para">Happy to Help</p>
        <p>Every day of the Week</p>
    </div>
</div>