<div class="container">
    <div class="about-img active">

        <img src="../../assets/images/h2.jpg" alt="blank image" width="500" height="400">
        &nbsp; &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="../../assets/images/th.jpg" alt="blank image" width="500" height="400">

    </div>
    <div class="about-heading">
        <h2> Building a safety net for households in India.</h2>
    </div>
    <div class="about-Paragraph ">
        <p>
            Back in 2008, insurance customers in India were facing a tough time. There was lack of information on
            products,
            transparency was missing, mis-selling was rampant, there was a high lapse rate of insurance policies and
            consumers felt a general apathy towards the insurance industry. Insurance companies made profits from policy
            surrender charges and the entire industry was mired in murkiness.</p>
        <div>
            <p>
                That is when a small bunch of people, with no insurance experience, started re-imagining what the
                insurance
                space could be. They imagined a place where consumers could find completely transparent insurance
                information and an option to research and compare insurance products so they could buy what they really
                wanted to. A
                place where all communications would be recorded so that there would be a clear audit trail of who said
                what
                in a
                product as complex as insurance. A place that provided a common service layer for all consumer services
                and
                claims
            </p>
        </div>

        <div>
            <p>With this grand ambition as their life goal, this motley crew of people started their journey into what
                is
                now
                Healthinsurance.com.
            </p>
        </div>

        <div>
            <p>HealthInsurance.com is now India’s foremost insurance aggregator and a leading fintech player globally.
                The
                objective is the same even today -- Customer First and Sustained Profitability for the entire insurance
                ecosystem.
            </p>
        </div>

        <div>
            <p>It's a fine balancing act when our customers transact a few lac crores of insurance cover and a few
                thousand
                crores of insurance premium with 50+ insurers through our platform with complete confidence every year.
            </p>
        </div>

    </div>
    <div class="our">
        <h2> OUR MISSION OUR VISION </h2>

    </div>
    <div class="our-img">

        <div class="our-write">
            <img src="../../assets/images/h3.jpg" alt="blank image" width="200" height="200">
            <h5>Building a safety net for households in India.</h5>
        </div>
        <div class="our-write">
            <img src="../../assets/images/h4.jpg" alt="blank image" width="200" height="200">

            <h5>Fairness to all our stakeholders</h5>
        </div>
        <div class="our-write">
            <img src="../../assets/images/h6.jpg" alt="blank image" width="200" height="200">
            <h5> A healthy and well-protected India</h5>
        </div>


    </div>
</div>

<hr>