<div class="divmain">
    <div class="cont">
        <h2 class="text-center">Get assistance with Health </h2>
        <p> Our claims assistance team can take care of your worries, while you rest and recover. Just submit your
            details
            below, or call us on 1800-258-5881 from your registered mobile number and we will guide you step-by-step
            through
            the rest. Alternatively, you can also write to us at claims@policybazaar.com from your registered email id.
        </p>
    </div>

    <div class="divCenter">
        <div class="formDiv" [formGroup]="myForm5">
            <div class="formFeild ">
                <div class="form-field">
                    <input type="text" name="name" id="name" placeholder="Customer Name" maxlength="50"
                        class="form-contrl " value="">
                </div>
                <div class="form-field">
                    <input type="text" name="mobile" id="mobile" placeholder="Mobile No." maxlength="10"
                        class="form-contrl " value="">
                </div>
                <div class="form-field">
                    <input type="text" name="email" id="email" placeholder="Registered Email" maxlength="50"
                        class="form-contrl " value="">
                </div>
            </div>
            <div class="formFeild clearfix">
                <div class="form-field">
                    <input type="text" name="alternateNo" id="alternateNo" placeholder="Alternate No." maxlength="10"
                        class="form-contrl" value="">
                </div>
                <div class="form-field">
                    <input type="text" name="policyNo" id="policyNo" placeholder="Policy No." maxlength="20"
                        class="form-contrl" value="">
                </div>
                <div class="form-field">
                    <input type="text" name="claimId" id="claimId" placeholder="Claim Id" maxlength="20"
                        class="form-contrl" value="">
                </div>
            </div>
            <div class="formFeild clearfix">
                <div class="form-field textarea">
                    <textarea rows="3" placeholder="Remarks" name="remarks" id="remarks" class="form-contrl" value=""
                        maxlength="250"></textarea>
                </div>
                <div class="form-field">
                    <div class="callToaction">
                        <a id="btnCallToAction" type="submit">Request Call Back</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="para">
            <p>*Policybazaar is acting only as a facilitator and claims settlement shall be at the sole discretion
                of
                the Insurer.</p>
        </div>
    </div>
</div>

<div class="aboutContent divCenter">
    <h1 class="text-center" style="color:rgb(58, 187, 238)">Health Insurance Claim</h1>
    <p class="abouttext">A health insurance claim is a request that a health insurance policyholder submits to the
        Insurance Company in order to obtain the services that are covered in their health insurance policy. A health
        insurance
        policyholder
        can either get reimbursed or can opt for direct claim settlement option (also known as cashless treatment) for
        the
        availed medical services. In this way, one can either submit the claim form or request the health insurance
        provider cashless services.
    </p>
</div>


<section class="claim_third">
    <div class="claimProcess divCenter">
        <h2 class="text-center">Types of Health Insurance Claim</h2>
        <p class="abouttext">Providing healthcare service when needed is the true utility of a health insurance plan.
            To
            ensure timely and easy settlement of all the
            medical expenses, one needs to initiate the health insurance claim process. There are two ways to claim a
            health
            insurance policy:</p>
        <div class="howtoGet">
            
            <h4>Cashless Claims :</h4>
            <p>In this type of health insurance claim, the insurer settles all the hospitalization bills with the
                hospital
                directly. However, an insured needs to be hospitalized only at a network hospital to get the benefit of
                cashless hospitalization.</p>
        </div>
        <div class="howtoGet">
            <h4>Reimbursement Claims :</h4>
            <p>In this type of claim process, the policyholder pays for the hospitalization expenses upfront and
                requests
                for reimbursement by the insurance provider later. One can get reimbursement facility at both network
                and
                non-network hospitals in this case.</p>
        </div>
    </div>
</section>

<section class="claim_fourth">
    <div class="cashlessClaim divCenter">
        <div class="top clearfix">
            <div class="image-right"></div>
            <div class="left">
                <h2>The Authorization Process for Health Insurance</h2>
                <p>As soon as an insurer receives the intimation from the attendant of the policyholder and is contacted
                    by
                    the hospital (network) about the same, the insurer verifies the validity of the policy and policy
                    coverage
                    of that policyholder. Then, a field doctor is assigned to facilitate the request for the
                    pre-authorization
                    document and to cross-check the claimed treatment. After verification, the medical team from the
                    insurance
                    company approves the cashless claim for the policyholder according to the terms and conditions of
                    the
                    policy. </p>
            </div>
        </div>
        <!--top-->
        <div class="bottom">
            <div class="carpage cashlessClaim_img"></div>
            <div class="right">
                <h2>Important Conditions to Avail Health Insurance Claim</h2>
                <ul class="sheildList">
                    <li>The authorization process may be cancelled, if the details are not filled completely.</li>
                    <li>All the claims must be filed within 30 days from the discharge date.</li>
                    <li>The insured has to pay for all the non-payable items on their own.</li>
                    <li>To claim the entire post-hospitalization expense, one must submit all the relevant documents
                        within 30
                        days from the discharge date.</li>
                </ul>
            </div>
            <!--right-->
        </div>
        <!--bottom-->
    </div>
</section>


<section class="claim_fifth">
    <div class="divCenter">
        <h2 class="text-center">Health Insurance Claim Process</h2>
        <p>Claim Settlement Process for Cashless Claims</p>
        <p>The general procedure to avail cashless claim for a health insurance policy is:</p>
        <ul class="sheildList">
            <li>Contact the insurance help desk at the hospital.</li>
            <li>Show the ID card of the insured, provided by the health insurance provider, for the purpose of
                identification.</li>
            <li>The hospital will verify the identity of the insured and will submit the pre-authorization form to the
                health insurance provider of the insured.</li>
            <li>The insurance provider will review all the submitted documents and process the claim according to the
                terms
                and conditions of the health insurance policy.</li>
            <li>Some of the health insurance providers also assign a field doctor to make the hospitalization process
                easier
                for the insured.</li>
            <li>After the completion of all formalities, the claim is settled as per the terms and conditions of the
                policy.
            </li>
        </ul>
    </div>
    <!-- </section> -->

    <!-- <section class="claim_sixth "> -->
    <div class="top">
        <div class="divCenter">
            <div class="title">
                <h2>A Health Insurance Cashless Claim can be of two types:</h2>
            </div>
            <div class="diffDiv clearfix">
                <div class="wid-50">
                    <div class="column planned-hospitalisation">
                        <h2>Planned Hospitalization</h2>
                        <p>Planned hospitalization comes in picture when the policyholder is aware of the
                            hospitalization beforehand. The steps to claim cashless treatment in this case
                            are:</p>
                        <ol class="listWithborder">
                            <li>Contact the toll-free helpline number of the health insurance policy provider
                                beforehand.</li>
                            <li>Fax the pre-authorization form, which must be duly filled by the hospital, to
                                the fax number of the health insurance provider.</li>
                            <li>Contact the toll-free helpline number of the health insurance policy provider
                                beforehand.</li>
                        </ol>
                    </div>
                </div>
                <div class="wid-50">
                    <div class="column emergency-hospitalisation">
                        <h2>Emergency Hospitalization</h2>
                        <p>Generally, an emergency hospitalization is needed when the insured meets
                            with an accident or is suffering from an illness that needs immediate
                            hospitalization.</p>
                        <ol class="listWithborder">
                            <li>In such a situation, the family of the insured is asked to contact the health
                                insurance provider on their toll-free number after admitting the patient to
                                the hospital.</li>
                            <li>Now, the pre-authorized form (fully-filled) has to be faxed on the numbers
                                of the health insurance provider within 24 hours of hospitalization. </li>
                        </ol>
                    </div>
                    <!--column-->
                </div>

                <!--wid-50-->
            </div>
        </div>
    </div>
</section>
<!--top-->
<div class="bottom1">
    <div class="main">
        <p>Note: The toll-free numbers and the numbers on which the fax must be sent are generally mentioned on the
            policy documents and/or on the insurance ID card of the policy holder.
        </p>
        <h2>Claim Settlement Process for Health Insurance Reimbursement Claims</h2>
        <p>The general procedure to avail reimbursement claims for a health insurance policy is:
        </p>
        <ul class="sheildList">
            <li>Contact the insurance help desk at the hospital.</li>
            <li>Show the ID card of the insured, provided by the health insurance provider, for the purpose of
                identification.</li>
            <li>The hospital will verify the identity of the insured and will submit the pre-authorization form to
                the
                health insurance provider of the insured.</li>
            <li>The insurance provider will review all the submitted documents and process the claim according to
                the
                terms and conditions of the health insurance policy.</li>
            <li>Some of the health insurance providers also assign a field doctor to make the hospitalization
                process
                easier for the insured.</li>
            <li>After the completion of all formalities, the claim is settled as per the terms and conditions of the
                policy. </li>
        </ul>
    </div>
</div>
<!--bottom-->


<section class="claim_seventh">

    <h2 class="text-center">Documents Required for Health Insurance Claim Submission</h2>
    <div class="claimSumission">
        <div class="claimSumission_row ">
            <div class="insured">
                <p class="text-center1">Health Card (Health Insurance ID Card)</p>
            </div>
            <div class="insured">
                <p class="text-center1">All the consultation papers provided by the doctor
                </p>
            </div>
            <div class="insured">
                <p class="text-center1">Completely filled claim form</p>
            </div>

            <div class="insured">
                <p class="text-center1">All the investigation and diagnosis reports, such as CT scan, X-ray, blood
                    reports,
                    etc.</p>
            </div>
        </div>
        <div class="claimSumission_row ">
            <div class="insured">
                <p class="text-center1">In the case of an accident, provide the Medico Legal Certificate (MLC)
                    or/and
                    FIR.
                </p>
            </div>
            <div class="insured">
                <p class="text-center1">Invoices of the pharmacy with respective prescriptions.</p>
            </div>

            <div class="insured">
                <p class="text-center1">Discharge summary</p>
            </div>
            <div class="insured">
                <p class="text-center1">All other relevant documents</p>
            </div>
        </div>

    </div>

</section>