<h1>Sitemap</h1>
<div class="containers">
    <div class="sitemap">

        
      <h6><u> Life Insurance Companies</u></h6>
      <p>Term Insurance - Term Insurance Companies</p>
      <p> Trop</p>
      <p> Income replacement</p>
      <p> Income Tax</p>
      <p>LIC of India
      </p>
  </div>
  <div class="Investment">

      <h6> <u> Investment Plan Providers</u></h6>
      <p>Child Plans- Child Plan Providers</p>
      <p>Retirement Plans- Pension Plan Providers</p>
      <p> Saving Plans</p>
      <p>Money Back</p>
      <p>Guaranteed Income</p>
      <p>Monthly Income</p>
      <p>ULIPs or High Potential plans- ULIP Plan Providers</p>
      <p>Short Term Guaranteed Plans</p>
      <p>SIP</p>
  </div>
  <div class="Insurance">

      <h6><u>General Insurance </u></h6>
      <p>Health Insurance- Health Insurers</p>
      <p>Family Health Insurance</p>
      <p>Senior Citizen Health Insurance</p>
      <p>Critical Illness Policy</p>
      <p>Cashless Hospitalization</p>
      <p>Preventive Health Care</p>
      <p>Mediclaim Policy</p>
      <p>Group Health Insurance</p>
      <p>Coronavirus Health Insurance</p>
      <p>Corona Kavach Policy</p>
      <p>Corona Rakshak Policy</p>
      <p>Arogya Sanjeevani Policy</p>
      <p>PMJAY - Ayushman Bharat Yojana</p>
  </div>

</div>