/* *{
  margin: 0; padding: 0; box-sizing: border-box;
} */

.mcontent
{
  width: 100%;
  background-color: hotpink;
  
  /* height:100vh; */
}

.content{
  /* padding-top: 50px; */
  height: 500px;
  display: flex;
  /* justify-content: space-between; */
}
.lcontent{
  display: flex;


}
.left{
 padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width:50vw;
  background-color: white;
}
.right{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:50vw;
  background-color: white;
}
.lt{
  font-size: 3rem;
  padding: 1rem 1rem;
}
.lcu{
  display: flex;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  /* margin-right: 10px; */

}
.lcd{
  display: flex;
  padding: 1rem 1rem;
  font-size: 1.5rem;
}
.fa-biohazard{
  padding: 0rem 1rem ;
  font-size: 2rem;
}
.fa-bolt{
  padding: 0rem 1rem ;
  font-size: 2rem;
}
.lcut{
  color: royalblue;
}
.lcdt{
  color: orange;
}
.rcl
{
  margin-right:40px ;
}
.fa-handshake-o{
  padding: 1rem 0rem;
  font-size: 2rem;
}
.rcrut{
  font-weight: 700;
  color: #253858;
  font-size: 16px;
  padding: 3px 0 0;
  line-height: 20px;
}
.rcrmt{
  font-size: 24px;
  color: #172b4d;
  line-height: 32px;
  padding:8px 0 20px 0;
  font-weight: 300;
}
.rcrlb{
  background-color:springgreen;
  cursor: pointer;
  text-decoration:none;
  color: #ffff;
  font-size: 30px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius:8px;
  box-shadow: 5px 5px 20px black;

}
.content1{
  min-height: 410px;
  display: flex;
  justify-content: space-between;
}
.left1{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: flex-start;
  /* height: 50vh; */
  width:40%;
  padding-left: 40px;
  background-color: white;
}
.right1{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* height: 50vh; */
  width:60%;
  background-color: white;
  text-align: right;
  padding-right: 10px;
}
.left1t{
  padding-left: 60px;
  font-size: 36px;
  color: #253858;
  line-height: 54px;
  font-weight: 300;
  align-self: flex-start;
  margin-top: 110px;

}
.bestprice{
  width: 200px;
  vertical-align: top;
  background-color: #fff;
  height: 180px;
  text-align: left;
  display: inline-block;
  border-radius: 8px;
  /* box-shadow: 0 6px 16px rgb(52 105 203 / 16%) */
  position: relative;
  left: 0;
  overflow: hidden;


}
.bestprice::before{
  content: '';
  position: absolute;
  left: -2;
  top: 0;
  height: 100%;
  width: 4px;
  background: #47d990;
}

.smile{
  margin-left: 20px;
  margin-top: 16px;

}
.head{
  font-size: 18px;
  font-weight: 600;
  color: #47d990;
  margin-left: 20px;
  margin-top: 10px;

}
.headt{
  font-size: 14px;
  line-height: 21px;
  color:#253858;
  padding: 10px 20px;

}
.claims{
  width: 200px;
  vertical-align: top;
  background: #fff;
  height: 180px;
  text-align: left;
  display: inline-block;
  border-radius: 8px;
  position: relative;
  left: 0;
  overflow: hidden;
  margin: 46px 0 20px 48px;
}
.claims::before{
  content: '';
  position: absolute;
  left: -2;
  top: 0;
  height: 100%;
  width: 4px;
  background: #ffc400;
}
.girl{
  margin-left: 20px;
  margin-top: 16px;
}
.claimsh{
  font-size: 18px;
  font-weight: 600;
  color: #ffc400;
  margin-left: 20px;
  margin-top: 10px;

}
.claimsht{
  font-size: 14px;
  line-height: 21px;
  color:#253858;
  padding: 10px 20px;
}
