<div class="mcontent">
    <div class="content">
        <div class="left">
            <p class="lt">Let's find you <br> the <span style="font-weight: bold;">Best Insurance</span></p>
            <div class="lcontent">
                <div class="lcu">
                    <i class="fa fas fa-biohazard"></i>
                    <p class="lcut"> 50+ insurers with one <br> of the best prices</p>
                </div>
                <div class="lcd">
                    <i class="fa fas fa-bolt"></i>
                    <p class="lcdt">Quick, easy & <br> assle free</p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="rcl">
                <img src="../../assets/images/aka.webp" alt=" ak img">
            </div>
            <div class="rcr">
                <div class="rcru">
                    <div class="rcrui">
                        <i class="fa fa-handshake-o"></i>
                    </div>
                    <div class="rcrut">
                        <p>HIC Promise</p>
                    </div>
                </div>
                <div class="rcrm">
                    <p class="rcrmt">
                        A commitment <br> to our customers
                    </p>
                </div>
                <div class="rcrl">
                    <a class="rcrlb" routerLink='plans-form'>Veiw Our Best Plans</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="ucard">
          <a routerLink="child-health">
            <div class="card1 card0">
              <div class="icard1 icard">
                <i class="fa fa-user" style="color: skyblue"></i>
              </div>
              <div class="tcard1 tcard">
                Child Health <br>Insurance
              </div>
            </div>
          </a>
          <a routerLink="coronavirusHealth">
            <div class="card2 card0">
              <div class="icard2 icard">
                <i class="fas fa-clinic-medical" style="color: red"></i>
              </div>
              <div class="tcard2 tcard">Coronavirus Health <br> Insurance Plans</div>
            </div>
          </a>
          <a routerLink="family-health">
            <div class="card3 card0">
              <div class="icard3 icard">
                <i class="fas fa-heartbeat" style="color: hotpink"></i>
              </div>
              <div class="tcard3 tcard">Family Health <br> Insurance Plans</div>
            </div>
          </a>
          <a routerLink="health-insurance">
            <div class="card4 card0">
              <div class="icard4 icard">
                <i class="fas fa-allergies" style="color: rgb(100, 117, 4)"></i>
              </div>
              <div class="tcard4 tcard">
                Health <br />
                Insurance Claim
              </div>
            </div>
          </a>
        </div>
        <div class="lcard">
          <a routerLink="senior-insurance"
            ><div class="card5 card0">
              <div class="icard5 icard">
                <i class="fas fa-capsules" style="color: rgb(226, 65, 226)"></i>
              </div>
              <div class="tcard5 tcard">Senior Health Insurance</div>
            </div></a
          >
          <a routerLink="critical"
            ><div class="card6 card0">
              <div class="icard6 icard">
                <i class="fas fa-hospital-alt" style="color: rgb(11, 115, 146)"></i>
              </div>
              <div class="tcard6 tcard">Critical Illness Insurance</div>
            </div></a
          >
          <a routerLink="arogya-sanjeevani"
            ><div class="card7 card0">
              <div class="icard7 icard">
                <i class="fas fa-lungs-virus" style="color: rgb(94, 12, 94)"></i>
              </div>
              <div class="tcard7 tcard">Arogya Sanjeevani Policy</div>
            </div></a
          >
          <a routerLink='coronavirusHealth'
            ><div class="card8 card0">
              <div class="icard8 icard">
                <i
                  class="fas fa-radiation-alt"
                  style="color: rgb(26, 223, 174)"
                ></i>
              </div>
              <div class="tcard8 tcard">Coronavirus Health Insurance</div>
            </div></a
          >
        </div>
      </div>
    <div class="content1">
        <div class="left1">
            <p class="left1t">What makes <br> <strong>HIC</strong> the <br> <strong>best place</strong> to buy <br>
                <strong>insurance</strong> in India? </p>
        </div>
        <div class="right1">
            <div class="bestprice">
                <p class="smile">&#128516;</p>
                <p class="head">The best price</p>
                <p class="headt">for all insurance plans available online</p>
            </div>
            <div class="claims">
                <p class="girl">&#128590;</p>
                <p class="claimsh">Claims</p>
                <p class="claimsht">support built in with every policy for help, when you need it the msot</p>
            </div>
        </div>
    </div>
</div>
<app-cards-info></app-cards-info>
<!-- <router-outlet></router-outlet> -->


