<div class="mcontent">
    <div class="content">
        <div class="left">
            <p class="lt">Let's find you <br> the <span style="font-weight: bold;">Best Insurance</span></p>
            <div class="lcontent">
                <div class="lcu">
                    <i class="fa fas fa-biohazard"></i>
                    <p class="lcut"> 50+ insurers with one <br> of the best prices</p>
                </div>
                <div class="lcd">
                    <i class="fa fas fa-bolt"></i>
                    <p class="lcdt">Quick, easy & <br> assle free</p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="rcl">
                <img src="../../assets/images/aka.webp" alt=" ak img">
            </div>
            <div class="rcr">
                <div class="rcru">
                    <div class="rcrui">
                        <i class="fa fa-handshake-o"></i>
                    </div>
                    <div class="rcrut">
                        <p>HIC Promise</p>
                    </div>
                </div>
                <div class="rcrm">
                    <p class="rcrmt">
                        A commitment <br> to our customers
                    </p>
                </div>
                <div class="rcrl">
                    <a class="rcrlb" routerLink='plans-form'>Veiw Our Best Plans</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content1">
        <div class="left1">
            <p class="left1t">What makes <br> <strong>HIC</strong> the <br> <strong>best place</strong> to buy <br>
                <strong>insurance</strong> in India? </p>
        </div>
        <div class="right1">
            <div class="bestprice">
                <p class="smile">&#128516;</p>
                <p class="head">The best price</p>
                <p class="headt">for all insurance plans available online</p>
            </div>
            <div class="claims">
                <p class="girl">&#128590;</p>
                <p class="claimsh">Claims</p>
                <p class="claimsht">support built in with every policy for help, when you need it the msot</p>
            </div>
        </div>
    </div>
</div>
<app-cards-info></app-cards-info>

