*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    /* overflow-x: hidden; */
}
header{
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color:#fff;    
    display: flex;
    justify-content: space-between; 
    z-index: 100;
    box-shadow: 0 8px 6px -6px black;
}
header h1 a{
    text-decoration: none;
    color:blue;
    margin-left: 90px;
    font-size:35px;

}
header .button{
    
    margin-top: 10px;
    margin-right: 40px;
    transition: .3s;

}
header .button a{
    color: blue;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
    /* background-color:rgb(106, 197, 106); */
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;

}
header .logout a{
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 800;
}
.button i {
    font-size: 28px;
    
}
.loggedIn{
    display: inline-flex;
}






