<section class="carrer">
    <div class = "img-1">
       <img src = "../../assets/images/h11.jpg" alt="blank image" > 
      </div>
    <h1 class="Heading">Join our team - Work hard, have fun &amp; make history!</h1>
    <h4 class="Center">A few benefits of working with us</h4>
   
 
        <ul class="cTop">
            <li>
                <span class="c-performance">performance</span>
                <label><em class="dark-sky">Respect for </em> performance </label>
             </li>
             <li>
                 <span class="c-flex">flex</span>
                 <label>Rewards<em class="dark-sky"> for solutions &amp; innovation</em></label>
             </li>
             <li>
                 <span class="c-family">family</span>
                 <label><em class="dark-sky">Fast track</em> growth <em class="dark-sky">paths</em></label>
             </li>
             <li>
                 <span class="c-growth"></span>
                 <label>Empowered <em class="dark-sky">teams for quick decisions</em></label>
             </li>
             <li>
                 <span class="c-trans">trans</span>
                 <label><em class="dark-sky">Competitive</em> compensation packages</label>
             </li>
             <li>
                 <span class="c-fun">fun</span>
                 <label>Flexible leave <em class="dark-sky">and vacation policy</em></label>
             </li>
             <li>
                 <span class="c-quick">quick</span>
                 <label><em class="dark-sky">Open door policy &amp;</em> flat hierarchy</label>
             </li>
             <li>
                 <span class="c-competitive">competitive</span>
                 <label><em class="dark-sky">Work with </em> friends<em class="dark-sky">, not colleagues</em></label>
             </li>
             <li>
                 <span class="c-friday">friday</span>
                 <label>Friday dressing,  <em class="dark-sky">through the week</em></label>
             </li>
         </ul>
    
     
     </section>