<section class="carrer">
    <div class="img-1" style="padding-top: 70px;">
        <img src="../../assets/images/h11.jpg" alt="blank image">
    </div>
    <h1 class="Heading">Join our team - Work hard, have fun &amp; make history!</h1>
    <h4 class="Center">A few benefits of working with us</h4>
<div class = "conta">

    <ul class="cTop">
        <div class="left">
            <li>
                <label> Respect<em class="dark-sky"> for </em> performance &nbsp; &nbsp; </label>
            </li>
            
            <li >

                <label><em class="dark-sky">  Rewards </em> for solutions &amp; innovation &nbsp; &nbsp;</label>
            </li>
            <li>
                
                <label><em class="dark-sky">Fast track</em> growth <em class="dark-sky">paths</em></label>
            </li>
        </div>
        <div class = "middle">
            
            <li>
                
                <label>Empowered <em class="dark-sky">teams for quick decisions</em></label>
            </li>
            <li>
               
                <label><em class="dark-sky">Competitive</em> compensation packages</label>
            </li>
            <li>
                
                <label>Flexible leave <em class="dark-sky">and vacation policy</em></label>
            </li>
        </div>
        <div  class = "bottom">
            
            <li>
                <label><em class="dark-sky">Open door policy &amp;</em> flat hierarchy</label>
            </li>
            <li>
                <label><em class="dark-sky">Work with </em> friends<em class="dark-sky">, not colleagues</em></label>
            </li>
            <li>
                <label>Friday dressing, <em class="dark-sky">through the week</em></label>
            </li>
        </div>
    </ul>
    
</div>
    
</section>