.form_container{
    width: 100%;
    height: 100vh;
    display:inline-flex;
}
.left_container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_container .imges-background{
    width: 100%;
    height: 50%;
    background-color:burlywood;
    
}
.left_container .imges-background img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    
}
.Right_container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    width: 80%;
    height: 70%;
}
.container h4{
    font-size: 25px;
    font-family:poppins;

}
.container h1{
    font-size: 40px;
    color:darkslateblue;
}

form{
    margin-top: 30px;
    width: 90%;   
    padding: 20px;
    display: block;
}

.gender-details label{
    display:inline-block;
    border:2px solid black;
    width:102px;
    margin-right: 18px;
    min-height:88px;
    border-radius: 10px;
    cursor: pointer;
    
}
.gender-details label p{
    
    margin-top: 20px;
    text-align: center;
}
i{
    font-size: 40px;
    color: black;
    
}
input[type="radio"]{
    display: none;
}

.gender-details input[type="radio"]:checked + label{
    background-color:#f2fcf8;
    color:#36b37e;
    border:2px solid #36b37e;
}

.user-details{
    margin-top: 40px;
    flex-wrap: wrap;
    
}

.user-details input[type="text"]{
    font-size: 20px;
    width: 45%;
    height: 60px;
    border-radius: 10px;
    outline: none;
    padding: 5px;

}
.user-details #fname{
    margin-right:20px;

}
.continue-btn{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="submit"]{
    padding: 15px 100px;
    font-size:20px;
    background-color:coral;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
}
.terms-text{
    margin-top: 20px;
    text-align: center;
    

}


/* family-details */
.family-details label{
    border:2px solid rgb(87, 78, 78);
    width:30%;
    border-radius: 10px;
    margin-bottom: 14px;
    margin-right: 14px;
    display: inline-block;

    
}
.family-details{
   
}
.family-details label p{
    
    margin-top: 20px;
    text-align: center;
}
i{
    font-size: 40px;
    color: black;
    
}
input[type="radio"]{
    display: none;
}
.family-details input[type="radio"]:checked + label{
    background-color:#f2fcf8;
    color:#36b37e;
    border:2px solid #36b37e;
}



