<div class="container">
    <h1 > INSURANCE ARTICLES</h1>
    <h5> "Be curious always! For knowledge will not acquire you; you must acquire it". – Sudie Back</h5>
    <div class="cont">
        <p>
            In this section, you will find a comprehensive list of well-researched articles on insurance, helping you to
            make informed decisions on buying insurance. This in-depth library of consumer insurance articles will make
            you understand all facets of insurance, including life, health, motor, travel, home and investments. Dive in
            to know about the various tips and advice related to the insurance sector.
        </p>
    </div>
    <div class="main">
        <!-- <div class="left">
            <h6> Life Insurance </h6>
            <p>Life insurance is one of the essentials which an individual should have for the more contented future of
                his family in his absence. This article section will help you recognize the actual requirement of life
                insurance policy. Understanding the necessity of every individual, we at policybazaar.com have designed
                this page by focusing on all the products offered under this insurance, i.e. term plans, ULIP plans,
                child plans, pension and investment plans. Cracking up your queries and guiding you in the best possible
                way, we have got well researched articles for your better understanding. </p>

        </div> -->
        <div class="left">
            <h2><u>
                    Life Insurance
                </u> </h2>
            <p>This section has a selection of well researched articles for you to read and make informed decisions on
                how to invest in Life Insurance policies and the benefits that you can have from it.</p>
            <div class="ladingBoxImg"><img src="../../../assets/images/h13.jpeg"></div>
            <div class="textWrap">
                <div class="article_height">
                    <h6> What is Group Term Life Insurance?</h6>
                    <p class="small">
                        What is Group Term Life Insurance?&nbsp;
                        For individuals with financial responsibilities, term insurance is a necessity. ..
                    </p>
                </div>

            </div>
        </div>
        <div class=" middle">
            <div id="slider2">

                <h2> <u>
                        Health Insurance
                    </u> </h2>
                <p>This section provides a plethora of well written and well researched articles for you to go through
                    and make decisions about how to purchase and benefit from health insurance policies.</p>
            </div>

            <div class="bgWarp_color">
                <div class="ladingBoxImg"><img src="../../../assets/images/h14.jpeg"></div>
                <div class="textWrap">

                    <div class="article_height">
                        <h6> 11 Easy Tips to Save Money on Your Health Insurance Premium</h6>
                        <p>11 Easy Tips to Save Money on Your Health Insurance Premium
                            Health insurance has become imperative today with the cost ..</p>
                    </div>



                </div>
            </div>


        </div>
        <div class=" right">


            <div class="textContent">
                <h2> <u>General
                        Insurance</u>
                </h2>
                <p>This section has a selection of well-researched articles for you to read and make informed
                    decisions on how to buy General Insurance plans and the benefits that you can avail.</p>
            </div>
            <div class="bgWarp_color">
                <div class="ladingBoxImg"> <img src="../../../assets/images/h15.jpeg"></div>
                <div class="textWrap">
                    <div class="article_height">
                        <h6> What is IRDA? Its Role &amp; Guidelines in Indian Insurance Sector</h6>
                        <p>What is IRDA? &nbsp;Its Role &amp; Guidelines in Indian Insurance Sector
                            Insurance Regulatory &amp; Development Authority</p>
                    </div>


                </div>


            </div>


        </div>
    </div>
</div>