<div class="Insurance">
    <div class = "health-img"><img src = "../assets/img/h8.jpg" alt="blank image" width = "1495px" ></div>
    <h1 class="heading">Insurance Companies in India - Life &amp; General Insurance Companies</h1>
    <div class="Insurance">
        <p class="char-count">Over the last two decades, the insurance industry has shown immense growth in India. This
            is probably <span class="extra-text-show-extra"> because of the main reason that almost every insurance
                company supported their customers </span><span class="extra-text-web-show-extra"> by providing a high
                claim settlement ratio. At present, many insurance companies offer several types of policies with
                various benefits to help protect people as per their budget and convenience. </span></p>
        
    </div>
    <div class="block_content_wrapper">
        <p class="paragraphBu">The best part of an insurance policy is, it provides financial aid depending upon the
            specific requirement of an individual, this can vary from person to person, and what could be beneficial for
            someone can turn out to be totally useless for someone else.</p>
        <p class="paragraphBu">For any individual who is a newbie to this field, the concept of insurance seems a little
            complex. Let us simplify it a bit for you all - when you buy an insurance policy, you come into a contract
            with the insurer to provide you with financial aid in return for this you are required to pay off regular
            premiums. The insurance policy protects you against the uncertain events of life which might leave adverse
            effects on you or your family.</p>
        <p class="paragraphBu">Also, what makes insurance a little complex is so many varieties to choose from and the
            calculation for the policy period, cover amount, premium pay, etc. However, you can make a decision of
            buying term insurance by doing thorough research online. You can compare plans, benefits, limitations, along
            with the comparison between top-notch insurance companies- this can help you make a better decision based on
            your requirements and future life goals.</p>
        <p class="paragraphBu"> Earlier, in India, only two Insurance companies were available, namely– Life Insurance
            Corporation of India and General Insurance Corporation of India. However, now in India, the insurance
            industry has 34 General insurance companies and 24 life insurance companies with many benefits as well as
            customized offers to financially safeguard individuals against life's uncertain events. Many companies have
            joined their hands with international firms to provide better service to people.</p>
    </div>
    <div class="block_content_wrapper">
        <h2>List of Life Insurance Companies in India</h2>
        <ol class="number-listing-box">
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/birla-sun-life-insurance/">Aditya Birla Sun Life Insurance</a></h3>
                <p class="paragraphBu">Aditya Birla Sun Life Insurance Company Limited is a subsidiary of Aditya Birla
                    Capital Ltd and a joint venture between the Aditya Birla Group of India and the Sun Life Financial
                    Inc. of Canada. It has over 600 branches established in over 500 cities in India. ABSLI was the
                    first one t introduce the concept of a free-look period even before the IRDAI made it mandatory. The
                    company has pioneered the launch of ULIPs - Unit Linked Insurance Plans in India. It caters to offer
                    financial support for your retirement solutions, child's education, health, and wellness solutions,
                    and even provide customized group product to help you get secured as per your budget and
                    requirements.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/idbi-federal-life-insurance/">Aeges Federal Life Insurance</a></h3>
                <p class="paragraphBu">Founded in 2008 Aeges life insurance company is a joint venture between Federal
                    Bank and a multinational insurance company based out of Europe, Ageas. It is one of the fasted
                    growing insurance companies in India. The company's main goal is to offer good wealth management,
                    protection, and the best retirement solutions to customers.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/aegon-life-insurance/">Aegon Life Insurance</a></h3>
                <p class="paragraphBu">AEGON life insurance co. ltd. began its operations in India in July 2008. Since
                    its operations, the company has proved itself to be very customer-centric. Aegon life insurance is a
                    joint venture between Aegon and Bennett, Coleman &amp; Company. Aegon Life works on a multi-channel
                    distribution strategy to aid its customers to plan a secure life. Currently, the company serves more
                    than 4.4 lakh customers across India and its headquarter is located in Mumbai. The company offers
                    several plans - the most popular plans are, endowment plan, ULIP plan, protection plan, child plan,
                    ruler plan, term plan, etc.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/aviva-life-insurance/">Aviva Life Insurance&nbsp;</a></h3>
                <p class="paragraphBu">Aviva India life insurance company is a joint collaboration between Dabur India
                    and Aviva Plc. (UK-based insurance company). It was founded in 2002 and now it has over 33 million
                    customers in 16 countries and it has over 107 branches spread across 3000 locations in India. The
                    main objective of Aviva Life Insurance is to provide customized solutions to its customers. The
                    company was the first company to introduce the unitized with profile plan in the market. This has
                    made the plans very economical for the buyers. From ruler plan to term plan and to group insurance
                    plan, the company offers a wide variety of plans to the customers.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/bajaj-allianz-life-insurance/">Bajaj Allianz Life Insurance</a></h3>
                <p class="paragraphBu">Founded in 2001 Bajaj Allianz life insurance is a joint venture between Bajaj
                    Finserv Ltd. and European financial services company Allianz SE.&nbsp;The company's goodwill is
                    built upon two factors- one, its record of 92.04% claim settle ratio for the year 2017-18, and two,
                    its technical experience over the years to provide only the best to the customers. It has its
                    branches in more than 638 cities and towns in India. The company offers a wide range of policies
                    right from child plan and ULIP to Group and term insurance.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/bharti-axa-life-insurance/">Bharti AXA Life Insurance&nbsp;</a></h3>
                <p class="paragraphBu">Founded in 2006 Bharti AXA life insurance company is a joint venture between
                    Bharti Enterprises and AXA Group. It was formed with an objective to offer a huge array of
                    innovative products and services to aid the customers to meet their financial needs. With its
                    continuous promising work, the company became the most trusted insurer by 2020.&nbsp; It holds a
                    record of 97.28% claim settlement ratio in the year 2017-18 and 100% grievances settlement ratio in
                    the year 2015-16. The company operates from 123 offices spread across different cities in India. The
                    policies provided by Bajaj AXA life insurance various from traditional plans to investment plans and
                    child plans to general insurance plans.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/canara-hsbc-life-insurance/">Canara HSBC OBC Life Insurance</a></h3>
                <p class="paragraphBu">Canara HSBC OBC life insurance is a joint venture between two public sector
                    Indian banks Canara Bank, Oriental Bank of commerce, and one insurance company HSBC insurance
                    holdings ltd. Canara HSBC OBC life insurance was launched in 2008 with an objective to provide its
                    customers with financial security. The company holds a huge customer base- approximately 60 billion
                    in numbers and over 7000 branches are spread all over the world. It is one of the most leading
                    insurance companies to promote the Bancassurance model in India.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><strong><a href="/insurance-companies/edelweiss-tokio-life-insurance/">Edelweiss Tokio Life
                            Insurance&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></strong></h3>
                <p class="paragraphBu">Edelweiss Tokio life insurance company is a joint venture between Edelweiss Group
                    of India and Tokyo Marine holding of Japan. It was established in 2011 with a comprehensive plan to
                    offer protection policies to cater to the emergency needs of individuals. The company provides life
                    insurance plans with effective riders and promises high returns along with guaranteed interest
                    payments. The company follows an approach of 5 prongs namely- convenience, communication, fairness,
                    transparency, and commitment to deliver the best service and products to customers.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/exide-life-insurance/">Exide Life Insurance</a></h3>
                <p class="paragraphBu">Exide life insurance company was earlier known as ING Vysya life insurance
                    company ltd. The company has over 15 lakh customers nationwide and it holds its 100% stakes. It was
                    founded in 2000 and the company has shown gradual growth over the years. It has 200 offices across
                    the country and over 3500 advisors support the company. The company believes in providing services
                    more than just life insurance and that included customized or need-based plans to help people get
                    financially secure in the long run.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/future-generali-india-life-insurance/">Future Generali India Life
                        Insurance</a></h3>
                <p class="paragraphBu">Future Generali India life insurance provides a wide array of insurance plans to
                    customers which can be customized as per their requirements and lifestyle goals. Whether it is ULIP,
                    term insurance, or any traditional plan, one can get any plan they wish for at an affordable rate.
                    The company was established in 2007 and is a joint venture between Generali Group &amp; Future Group
                    and Industrial Investment Trust Limited. Since its establishment, the company has sourced over 11
                    lakh policies in India by operating from approximately 75 branches that are spread across different
                    cities of the country.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/hdfc-life-insurance/">HDFC Life Insurance</a></h3>
                <p class="paragraphBu">Founded in 2000 HDFC life Insurance company is a joint venture between Housing
                    Development Corporation Ltd and Standard Life. The company provides insurance plans to individuals
                    and groups via products such as investment plans, health plans, savings plans, pension plans, women
                    plans, and more. To cater to the needs of customers based on their needs, the company provides over
                    34 individual and 11 group products and additionally 8 optional riders which provide extra coverage
                    in the long run (if added in the plan).</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/icici-prudential-life-insurance/">ICICI Prudential Life Insurance</a>
                </h3>
                <p class="paragraphBu">ICICI Prudential Life Insurance Company Ltd began its operations in the year
                    2001. It is a joint venture between one of the largest private sector banks in India and Prudential
                    Corporation Holdings Limited. It is the first insurance company that was once listed on National
                    Stock Exchange and Bombay Stock Exchange. The company holds a record of 97.88% claim settlement
                    ratio for the year 2017-18. ICICI Prudential life insurance works on its objective of providing
                    cost-effective products, and good customer service for a hassle-free experience.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/indiafirst-life-insurance/">IndiaFirst Life Insurance</a></h3>
                <p class="paragraphBu">IndiaFirst Life insurance company is a joint venture between two public sector
                    banks Bank of Baroda, Andhra Bank, and a U.K-based investment company Legal &amp; General Group. It
                    was launched in 2010 by the then president of India Mr. Pranab Mukherjee. Its headquarter is located
                    in Mumbai and it offers various types of insurance, investment, and traditional plans such as child
                    policy, protection policy, pension policy, term policy, etc.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/kotak-life-insurance/">Kotak Mahindra Life Insurance</a></h3>
                <p class="paragraphBu">Founded in 2001 Kotak Mahindra Life insurance company is a private life insurance
                    company headquartered in Mumbai, India. The company hold a record of serving 15 million customers
                    over the years and has 232 branches spread across 167 cities and towns in India. Around 99,275
                    agents supports this company. The company is very popular and built its goodwill over the period by
                    providing outstanding need-based products and services to every customer.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/max-life-insurance/">Max Life Insurance</a></h3>
                <p class="paragraphBu">Max Life Insurance was founded in 2001 and is a joint venture between Max
                    Financial Services Ltd. and Mitsui Sumitomo Insurance Co. Ltd. The company was earlier known as Max
                    New York Life Insurance company Ltd. The company has been operating via multi-channel distribution
                    and offers long term protection in the name of plans like retirement plan, savings plan, child plan,
                    group plan, etc. The company follows a customer centric approach and thus succeeds every year as the
                    best investment expert in the market.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/pnb-metlife-life-insurance/">PNB MetLife India Insurance</a></h3>
                <p class="paragraphBu">Founded in 2001, PNB MetLife India Insurance Company is a joint venture between
                    MetLife International Holdings Inc., Punjab National Bank Ltd, Jammu &amp; Kashmir Bank Ltd, M.
                    Pallonji &amp; Pvt. Ltd, and other private investors. Headquartered in Bengaluru, its corporate
                    office is in Gurugram; apart from that, around 150 branches are spread across different places in
                    India. So far, PNB MetLife holds the record of insuring 3.6 million lives in India. The company
                    offers a wide array of plans such as ULIP Plan, money back plan, child plan, savings plan,
                    retirement plan, etc.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/pramerica-life-insurance/">Pramerica Life Insurance</a></h3>
                <p class="paragraphBu">Pramerica Life Insurance began its operations in the year 2008. It is a joint
                    venture between Dewan Housing Finance Corporation - Investments Limited and Prudential International
                    Insurance Holdings. The company has over 138 branches spread across the nation. The company provides
                    several insurance plans to individuals and groups however the company offers a maximum of 30 years’
                    tenure for few policies. It works on the objective of serve the customers with efficient, effective,
                    and affordable life insurance plans with the highest cover possible.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/reliance-life-insurance/">Reliance Nippon Life Insurance</a></h3>
                <p class="paragraphBu">Founded in 2001, Reliance Nippon Life Insurance company is a part of Reliance
                    Group. It has over 1230 branches spread across the nation. The company is popular for providing
                    tailor-made plans to individuals and groups to cater to their specific requirements. Approximately,
                    124,000 advisors support Reliance Nippon Life Insurance company. The company holds a record of
                    97.71% claim settlement ratio for the year 2018-19. It offers a variety of products ranging from
                    Child plans, retirement plans, term plans to protection plans, investment plans, health plans, and
                    so on.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/sahara-life-insurance/">Sahara India Life Insurance</a></h3>
                <p class="paragraphBu">Sahara India Life Insurance company was established in 2004 with an objective to
                    serve every single individual of the society- right from the rural to the urban sector. The company
                    works through the customer-centric approach and thus provides an extensive range of products such as
                    Unit Link Plan, term insurance plan, endowment plan, group insurance, money back plan, etc.&nbsp;
                </p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/sbi-life-insurance/">SBI Life Insurance</a></h3>
                <p class="paragraphBu">Founded in 2001, SBI Life Insurance company is a joint venture between Stata Bank
                    of India (The largest state-owned banking and financial service) and BNP Paribas Cardif (a French
                    multinational financial services company). it was awarded as 'Life Insurance Company Of the Year' in
                    2016. Headquartered in Mumbai, SBI Life Insurance is popular for providing the best life insurance
                    and pension products at affordable rates.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/shriram-life-insurance/">Shriram Life Insurance</a></h3>
                <p class="paragraphBu">Founded in 2005, Shriram Life Insurance Company is a joint venture between
                    Shriram Group and Sanlam Group (a leading financial services group based in Cape Town, South
                    Africa). The company operates from over 528 branches spread across different cities in India. In the
                    year 2016, the company was awarded 'Bizz Americas 2016 awards’. Since its establishment, the company
                    is working towards one main goal and that is to reach out to every single individual to aid them
                    with financial security.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/star-union-dai-ichi-life-insurance/">Star Union Dai-ichi Life
                        Insurance</a></h3>
                <p class="paragraphBu">Founded in 2009, Star Union Dai-ichi Life Insurance company is a joint venture
                    between The Bank of India, Union Bank of India, and Dai-ichi Life Insurance Co. Ltd. of Japan. The
                    company serves customers in the nation from social and economic backgrounds. Start Union Dai-ichi is
                    a customer-centric company and offers several insurance products to help customers as per their
                    needs. The company is constantly working towards providing a long-term commitment to its
                    customers.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/tata-aia-life-insurance/">Tata AIA Life Insurance</a></h3>
                <p class="paragraphBu">Tata AIA Life Insurance Company was established in 2001 and is a joint venture
                    between Tata Sons and the AIA Group. The company follows a customer-centric approach and provides an
                    array of products to aid its customers. The policies include child plan, protection plan, savings
                    plan, micro-insurance plan, group plan, etc. It holds a record of 98% claim settlement ratio for the
                    year 2017-18. Also, it holds a credible record of 100% grievances settlement ratio for the year
                    2016-17.&nbsp;</p>
            </li>
        </ol>
    </div>
    <div class="block_content_wrapper">
        <h2>List of General Insurance Companies in India</h2>
        <ol class="number-listing-box">
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/aditya-birla-general-insurance/">Aditya Birla General Insurance</a>
                </h3>
                <p class="paragraphBu">Founded in 2001, Aditya Birla Insurance Brokers Limited is one of the most top
                    insurance brokers in India. The company is licensed and regulated by the Insurance Regulatory and
                    Development Authority of India (IRDAI). It is a joint venture between Aditya Birla Group and MMI
                    Holdings of South Africa. As a General Insurance provider, the company offers comprehensive policy
                    products like Motor Insurance, Health Insurance, Travel Insurance, etc.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3>Bajaj Allianz General Insurance</h3>
                <p class="paragraphBu">Bajaj Allianz is a joint venture between Bajaj Finserv Limited (Bajaj Group of
                    India) and Allianz SE (a German financial services company). The company was established 20 years
                    ago i.e. in 2001. Bajaj Allianz General Insurance company has been doing a commendable job in
                    reaching out to all types of customers. It was the first one to introduce 'Telematics Device' India-
                    it is a device that can be installed in an insured vehicle to determine usage-based car insurance.
                    Also, the company has initiated a cashless claim settlement policy to ease the overall customer
                    experience.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/bharti-axa-general-insurance/">Bharti AXA General Insurance</a></h3>
                <p class="paragraphBu">Founded in 20018, Bharti AXA Enterprises joined its hands with AXA Group and
                    created Bharti AXA Insurance company. It has over 135 branches located in India. Bharti Enterprises
                    is a leading business Group working in the sectors of financial services, telecom, retail,
                    agri-business, and manufacturing. AXA Group is a world-renowned leader in insurance and asset
                    management. As part of General Insurance, Bharti AXA provides its customers a wide range of policies
                    such as vehicle insurance, travel insurance, health insurance, crop insurance, and other general
                    products.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/cholamandalam-ms-general-insurance/">Cholamandalam MS General
                        Insurance</a></h3>
                <p class="paragraphBu">Cholamandalam MS General Insurance is a joint venture between Murugappa Group (an
                    Indian Conglomerate) and Mitsui Sumitomo Insurance Group (A Japanese Insurance Company). It was
                    founded in 2001 and provides an extensive range of general insurance products like health, motor,
                    travel, rural, engineering, liability, and so on to individuals, groups, and corporates. The company
                    has over 105 branches spread across different cities in India. Approximately 6000 agents support
                    this company from all over the nation. In 2011-12, the company was awarded for 'in time claims
                    settlement' by the Ministry of Labour &amp; Employment, Government of India.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/digit-general-insurance/">Digit General Insurance</a></h3>
                <p class="paragraphBu">Digital General Insurance is popularly known as Go Digit. It was established with
                    an objective to make insurance simple for everyone. It offers various non-life insurance products
                    that provide coverage to your motor, health, home, travel, mobile, jewelry, etc. It was awarded
                    Asia's General Insurance Company for the year 2019-20. It follows a multi-channel distribution of
                    insurance plans. The insurance company has tie-ups with several market leaders namely- PayTm,
                    Tanishq, Cleartrip, etc to reach a wide segment of society. It is the first one to become a digital
                    insurer in India.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/edelweiss-general-insurance/">Edelweiss General Insurance</a></h3>
                <p class="paragraphBu">Edelweiss Group takes pride in launching the Edelweiss General Insurance Segment.
                    It is a home-grown multinational corporation. The company follows the customer-centric approach and
                    thus has served millions of lives over the last 20 years with products/services ranging from debt
                    capital market, commodities, retail finance, wealth management, financial market to asset
                    management. The General Insurance segment was launched in 2016 and since then its plans offer caters
                    to the need of individuals at affordable prices. The plans include motor insurance, home insurance,
                    loan protection segment, fire insurance, health insurance, marine insurance, engineering insurance,
                    etc.&nbsp;&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/future-generali-general-insurance/">Future Generali General
                        Insurance</a></h3>
                <p class="paragraphBu">Founded in 2007, Future Generali General Insurance is a joint venture between
                    Future Group (India's leading retailer), and Generali Group (Global insurance group). It was
                    established in India with an aim to aid its customers to mitigate their financial needs. The company
                    holds a record of approximately 2.10 claims every year. It has its branches in over 125 cities in
                    India. It offers products to cater to the needs of customers via plans like motor, health, travel,
                    lifestyle, commercial, rural, etc.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/iffco-tokio-general-insurance/">IFFCO Tokio General Insurance</a></h3>
                <p class="paragraphBu">IFFCO Tokio General Insurance Company Limited was founded in 2000 and is a joint
                    venture between Indian Farmers Fertiliser Co-operative Limited (IFFCO, India's largest fertilizer
                    manufacturer) and Tokyo Marine Group (Japan's largest insurance group). The former holds 51% share
                    in the company and the latter holds the remaining 49% shares in the company. The company offers an
                    extensive range of insurance products for individuals and as well as the corporate sector. For
                    corporate it has products like property, liability, cyber, credit, error and omission insurance, and
                    so on. For individuals, it offers products like vehicle, health, travel, home, etc.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/kotak-mahindra-general-insurance/">Kotak Mahindra General
                        Insurance</a></h3>
                <p class="paragraphBu">Kotak Mahindra General Insurance Co. Ltd was incorporated in 2015.&nbsp; It is
                    licensed and regulated by Insurance Regulatory and Development Authority (IRDAI). It started
                    offering non-life insurance products to customers to aid them to mitigate their financial needs. The
                    company also offers several types of the third-party liability insurance policy.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/liberty-general-insurance/">Liberty General Insurance</a></h3>
                <p class="paragraphBu">Liberty General Insurance was incorporated in 2013 with an aim to offer complete
                    insurance solutions to people in the retail, commercial, and industrial sector. It is a joint
                    venture between Liberty Citystate Holdings PTE Ltd., Casualty Group, Enam Securities, and DP Jindal
                    Group. The company provides non-life insurance plans like health, engineering, fire, marine,
                    commercial, etc.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/national-general-insurance/">National General Insurance</a></h3>
                <p class="paragraphBu">Incorporated in 1906, National General Insurance operates as a subsidiary of
                    General Insurance Corporation of India intending to fulfil nationalist aspiration of Swaraj. After
                    1972, National General Insurance Company Limited was formed by the merger of 21 foreign and 11
                    Indian companies. Headquartered in Kolkata, the company offers non-life insurance plans such as
                    travel, health, home, motor, etc. It is the first company to offer customized general insurance
                    plans to customers.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/navi-general-insurance/">Navi General Insurance</a></h3>
                <p class="paragraphBu">Founded in 2016, Navi General Insurance operates as a subsidiary of Navi
                    Technologies. Earlier, the company was known as DHFL General Insurance. The company allows customers
                    to get customized plans as per their needs and lifestyle goals. It serves more than 1.1 million
                    customers and offers several general insurance plans such as Property, Motor, Health, Fire,
                    Commercial, Gadget, and more.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/new-india-assurance/">New India Assurance General Insurance</a></h3>
                <p class="paragraphBu">Headquartered in Mumbai, New India Assurance General Insurance Company was
                    founded in 1919 by Sir Dorab Tata (from the houses of TATAs). It operates under the ownership of the
                    Ministry of Finance, Government of India. It holds the record of more than ₹22.27 crore business
                    worldwide. It has over 2452 workplaces, including 1339 small offices spread across different
                    locations in India. The company offers comprehensive insurance products consisting of around 230
                    products. The company has been leading the market for many years with products like vehicles,
                    health, rural, travel, marine, mobile, engineering, property, etc.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/oriental-insurance/">Oriental General Insurance</a></h3>
                <p class="paragraphBu">Headquartered in New Delhi, Oriental General Insurance Company was founded in
                    1947. It operates as a subsidiary of erstwhile Oriental Government Security Life Assurance Company
                    Limited. It has 31 regional offices and 1800 active branches in India. The company is not restricted
                    to only India, the branches are spread across other nations namely- Nepal, Kuwait, and Dubai. It
                    offers various general insurance products to aid individuals as well as corporations to mitigate
                    their financial needs. The products include plans like mediclaim insurance, personal accident
                    insurance, overseas mediclaim insurance, fire insurance, shopkeeper's policy, travel, motor, and so
                    on.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/raheja-qbe-general-insurance/">Raheja QBE General Insurance</a></h3>
                <p class="paragraphBu">Raheja QBE General Insurance Company got the certificate of registration from
                    IRDAI in 2008 and now comes under the list of top leading insurance companies in India.
                    Headquartered in Mumbai, the company is a joint venture between OBE Holding (AAP) Pvt Ltd and Prism
                    Johnson Limited of Rajan Raheja Group. The company provides non-life insurance policies like Health
                    Insurance, Motor Insurance, Corporate Insurance, etc.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/reliance-general-insurance/">Reliance General Insurance</a></h3>
                <p class="paragraphBu">Reliance General Insurance was founded 20 years ago i.e., in August 2000. It has
                    around 128 branches and over 27,888 intermediaries across the country. The company caters to the
                    diverse non-life insurance needs of individuals, corporates, and small &amp; medium scale
                    enterprises. It offers a wide array of customizable insurance products such as travel plan,
                    commercial plan, motor, health, property, gadget, and more.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/sbi-general-insurance/">SBI General Insurance</a></h3>
                <p class="paragraphBu">Founded in 2009, SBI General Insurance Company is a joint venture between State
                    Bank of India and other investors namely- Axis Bank Asset Management Co. Ltd., Premji Invest, and
                    Warburg Pincus Group. SBI General Insurance Company is one of the few insurance companies to
                    encompass Bancassurance via a multi-channel distribution model. The company offers a range of
                    insurance products to individuals and corporations at affordable prices. The non-life insurance
                    products by SBI General Insurance include Motor Insurance, Health Insurance, Crop Insurance,
                    Accidental Insurance, Vehicle Insurance, Travel Insurance, Aviation Insurance, Liability Insurance,
                    Fire Insurance, Home Insurance, and more.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/shriram-general-insurance/">Shriram General Insurance</a></h3>
                <p class="paragraphBu">Established in 2008, Shriram General Insurance is a joint venture between Shriram
                    Capital Ltd (Indian International Financial Service Provider Company) and Sanlam Limited (A leading
                    Financial Services Group of South Africa). The company operates with an objective to provide
                    need-based products to cater to the requirements of customers. It offers non-life insurance plans
                    that provide cover for weddings, assets, vehicles, health, crop, property, and more.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/tata-aig-general-insurance/">Tata AIG General Insurance</a></h3>
                <p class="paragraphBu">Tata AIG General Insurance is a joint venture between Tata Group and American
                    International Group (AIG) and was formed in 2001. Tata AIG General Insurance has been working on a
                    goal to provide customized insurance products to people to ultimately help them cover their
                    unexpected losses. Headquartered in Mumbai, In 2013 the company was awarded the 'General Insurer
                    Claims Team of the Year' by Claims Awards Asia. It offers non-life insurance products to
                    individuals, private groups, artists, and even corporations. The wide range of Tata AIG General
                    insurance company products includes Vehicle, Gadget, Accidental, Health, Crop, Credit, Liability,
                    and more.&nbsp;</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/united-india-general-insurance/">United India General Insurance</a>
                </h3>
                <p class="paragraphBu">United Indian General Insurance company is a government-owned company and was
                    founded in 1938. Headquartered in Chennai, in 1972, the merger of 12 Indian Insurance Companies, 4
                    Cooperative Insurance Societies, and 5 Foreign Insurers lead to the formation of United India
                    General Insurance Company Ltd. It is still one of the finest insurance providers in the country. It
                    has over 14,322 workplaces and around 2248 small offices spread across Indian regions. The company
                    provides non-life insurance products that include marine insurance, liability insurance, industrial
                    insurance, etc.</p>
            </li>
            <li class="numbers" style="text-align: justify;">
                <h3><a href="/insurance-companies/universal-sompo-general-insurance/">Universal Sompo General
                        Insurance</a></h3>
                <p class="paragraphBu">Founded in 2007, Universal Sompo General Insurance is a joint venture between 3
                    public sector Indian banks namely- Indian Overseas Bank, Karnataka Bank, Dabur Investment
                    Corporation and a leading general insurer from Japan namely- Sompo Japan Insurance Inc. It provides
                    a wide array of general insurance products for individuals and corporations intending to increase
                    customer satisfaction by constantly improving their services/products. The offers products catering
                    to Rural, Retail, and Corporate customer segments. The list includes Car, Health, home, Student
                    Travel, etc.&nbsp;</p>
            </li>
        </ol>
    </div>
    <div class="block_content_wrapper">
        <h2>Difference Between Life Insurance and General Insurance</h2>
        <p class="paragraphBu">Insurance policies can provide you financial aid that you would require in an emergency.
            Since life is very uncertain, a solid financial backup is essential to safeguard the future of you and your
            family against unfavourable events. Over the decades, it is believed by many individuals that buying an
            insurance plan can be highly beneficial in the long run. Whether there is any medical emergency or an
            anticipated loss of an asset, one can recover the loss if one has an insurance policy beforehand.&nbsp;</p>
        <p class="paragraphBu">However, before you plan to buy an insurance policy, you must understand the nitty-gritty
            of this entire sector. In the Insurance Industry, insurance is categorized into two types- Life Insurance
            and General Insurance. While life insurance has been further categorized based on the benefits and some
            common customization, general insurance can be divided into many subcategories depending on the nature and
            requirements of insurance.</p>
        <p class="paragraphBu">Let us simply put the distinction between life insurance and general insurance below:</p>
        <div class="footable">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <p class="paragraphBu"><strong>Factors</strong></p>
                        </td>
                        <td>
                            <p class="paragraphBu"><strong>Life Insurance</strong></p>
                        </td>
                        <td>
                            <p class="paragraphBu"><strong>General Insurance</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="paragraphBu">Definition</p>
                        </td>
                        <td>
                            <p class="paragraphBu">The policy covers an individual's life for which a policyholder pays
                                a regular premium for a specific time. Upon the death of the insured or maturity of the
                                policy tenure, the money is paid out to the nominee.</p>
                            </td>
                            <td>
                            <p class="paragraphBu">All the insurance plans which do not come under life insurance plan
                                are general insurance plans. For example, vehicle insurance, non-life accidental
                                insurance, fire insurance, etc.</p></td>
                        
                    </tr>
                    <tr>
                        <td>
                            <p class="paragraphBu">Policy Tenure</p>
                        </td>
                        <td>
                            <p class="paragraphBu">Life Insurance are usually of long term tenure.&nbsp;</p>
                        </td>
                        <td>
                            <p class="paragraphBu">General Insurance are usually of short term tenure.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="paragraphBu">Insurance Claim</p>
                        </td>
                        <td>
                            <p class="paragraphBu">The sum insured is paid as death benefit in case of demise of insured
                                or upon the maturity of life insurance policy.&nbsp;</p>
                        </td>
                        <td>
                            <p class="paragraphBu">Payment is paid to the policyholder as a reimbursement for the damage
                                of an insured object or person.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="paragraphBu">Investment or Insurance</p>
                        </td>
                        <td>
                            <p class="paragraphBu">Life insurance policy can be considered as an investment.</p>
                        </td>
                        <td>
                            <p class="paragraphBu">General Insurance policy is not a form of investment as it only
                                reimburses the damage of the insured object or person.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="paragraphBu">Insurance Holder</p>
                        </td>
                        <td>
                            <p class="paragraphBu">The policyholder must be present during the enforcement of the policy
                                agreement.</p>
                        </td>
                        <td>
                            <p class="paragraphBu">The policyholder must be present during the enforcement of the policy
                                agreement.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="paragraphBu">Premium</p>
                        </td>
                        <td>
                            <p class="paragraphBu">Premiums for life insurance plan are supposed to be paid throughout
                                the year.</p>
                        </td>
                        <td>
                            <p class="paragraphBu">Premiums for general insurance can be paid at once in lump-sum
                                amount.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>