
<div class="maincontent">
    <div class="cont">
      <h2> Child Health Insurance for child</h2>
      <p> Child Insurance or medical insurance is a contract between the insurer and policyholder where the insurance
        company helps the insured to meet medical expenses. A health policy provides the benefit of reimbursement of
        medical
        expenses or cashless treatment for an illness or accidental injury.</p>
    </div>
    <div class="main">
      <div class="left">
        <div class="area">
  
          <img src="../../assets/images/childplan.webp" alt="">
  
          <div class="heading">
            <h2><i class="fa fa-rupee"></i>5 Lakh Health Cover for Your family</h2>
            <h2>Starts @ <i class="fa fa-rupee"></i> 630/month</h2>
          </div>
        </div>
        <div class="a1">
          <div class="a2">
            <h3>Tax Benefit</h3>
            <h5>upto <i class="fa fa-rupee"></i> 7500</h5>
          </div>
          <div class="a3">
            <h3>Save upto 12.5%</h3>
            <h5>on 2 year payment plans</h5>
          </div>
          <div class="a4">
            <h3>7 Lakh +</h3>
            <h5><i class="far fa-smile"></i>Happy costumers</h5>
          </div>
        </div>
        <p>
          All savings are provided by the insurer as per the IRDAI approved insurance plan. Standard T&C Apply</p>
  
      </div>
      <div class="container">
        <h3>Get insured from the comfort of your home</h3>
        <h1>No medicals required</h1>
        <form [formGroup]="myForm3">
          <div class="form-group">
            <label>Name</label>
            <br>
            <input type="text" class="form-control" placeholder="Enter your Name">
          </div>
          <br>
          <br>
          <div class="form-group">
            <label>Number</label>
            <br>
            <input type="text" class="form-control" placeholder="Enter your 10 digit number">
          </div>
          <br>
          <br>
          <div class="form-group">
            <button class="btn" type="submit"  routerLink="child-plans">View Plans</button>
          </div>
          <p class="terms_text">
            By clicking on 'View Plans' you, agreed to our
            Privacy Policy and Terms of use
          </p>
        </form>
      </div>
    </div>
  
  
    <div class="block_content_wrapper">
      <h2>What is Health Insurance?</h2>
      <p>Health Insurance is a type of insurance that offers medical coverage against medical expenses arising out of a
          health emergency. A health insurance plan offers financial assistance to the policyholder to cover
        hospitalization expenses, day care procedures, ICU charges and critical illness benefits. The policyholder can
        also
        buy a health insurance plan to avail tax benefits on premium as per the Income Tax Act, 1961.</p>
    </div>
    <br>
    <div class="block_content_wrapper">
      <h2 id="why-health-insurance">Top Reasons to Buy a Health Insurance Plan</h2>
      <p><span>Medical inflation is increasing every day making treatments expensive. If you get hospitalized for a
          critical
          illness or lifestyle disease, you may end up losing all your savings. The only way to afford quality medical
          treatment during a health emergency is by buying a health insurance policy. Take a look at some of the top
          reasons
          to buy a health insurance plan below:</span></p>
      <ul class="data-lisitng">
        <li><strong>Beat Medical Inflation - </strong>A health insurance policy can help you pay your medical bills,
          including pre and post-hospitalization expenses, today as well as in future despite the rising medical costs.
        </li>
        <li><strong>Afford Quality Medical Treatment - </strong>It helps you to afford the best quality medical treatment
          and care so that you can focus only on getting cured.</li>
        <li><strong>Fight Lifestyle Diseases - </strong>It allows you to pay for the long-term treatment of lifestyle
          diseases like cancer, heart attack, etc. that have been on the rise with the changing lifestyles.</li>
        <li><strong>Protect Your Savings - </strong>It helps you to protect your hard-earned savings by covering your
          medical expenses so that you can avail the required treatment without any financial worries.</li>
        <li><strong>Avail Cashless Hospitalization Facility - </strong>It allows you to obtain a cashless hospitalization
          facility at any of the network hospitals of your insurance provider by raising a cashless claim.</li>
        <li><strong>Get Tax Benefits - </strong>It enables you to save tax on the health insurance premium that you’ve
          paid
          under section 80D of the Income Tax Act for better financial planning.</li>
        <li><strong>Ensure Peace of Mind - </strong>It allows you to obtain medical treatment with peace of mind as you do
          not have to worry about paying the hefty hospital bills.</li>
      </ul>
    </div>
    <br>
  
  
    <div class="perosnalBlockInsurer">
      <div class="insurer-by-company-title">
        <h2>Types of Health Insurance Plans</h2>
      </div>
  <div class="cards1">
      <div class="cards">
        <div class="blockTextPlans"><img src="../../assets/images/family-health-insurance-v1.webp" alt="">
  
          <h3>Health Insurance for Family</h3>
          <p>Family health insurance offers insurance coverage to entire family against a single premium. Under
            this health plan, a defined sum insured is divided among the members equally, which can be claimed
            by one or more family members during the policy term.</p>
            <div class="form-group">
              <button class="btn">View Plans</button>
            </div>
        </div>
        <div class="blockTextPlans">
          <img src="../../assets/images/senior-citizen-health-insurance-plans1.webp" alt="">
          <h3>Health Insurance for Senior Citizens</h3>
          <p>Senior Citizen health insurance plans offer insurance coverage to the age group of 60 years and
            above. The health insurance plan covers hospitalization expenses like in-patient, pre and
            post-hospitalization expenses, OPD expenses, Daycare procedures with tax-saving benefits.</p>
            <div class="form-group">
              <button class="btn">View Plans</button>
            </div>
        </div>
  
        <div class="blockTextPlans"><img src="../../assets/images/childplan.webp" alt="">
  
          <h3>Health Insurance for Child</h3>
          <p>Child health insurance offers insurance coverage to entire family against a single premium. Under
            this health plan, a defined sum insured is divided among the members equally, which can be claimed
            by one or more family members during the policy term.</p>
            <div class="form-group">
              <button class="btn">View Plans</button>
            </div>
        </div>
        <div class="blockTextPlans">
          <img src="../../assets/images/health-claim-banner.webp" alt="">
          <h3>Best Health Insurance Plan</h3>
          <p>Best health insurance plans offer insurance coverage to the age group of new born baby and
            above. The health insurance plan covers hospitalization expenses like in-patient, pre and
            post-hospitalization expenses, OPD expenses, Daycare procedures with tax-saving benefits.</p>
            <div class="form-group">
              <button class="btn">View Plans</button>
            </div>
        </div>
        
      </div>
        <div class="cards">
  
          <div class="blockTextPlans">
            <img src="../../assets/images/health-insurance-plans-for-parents1.webp" alt="">
            <h3>Health Insurance for Parents</h3>
            <p>Health insurance for aging parents refers to the senior citizen health plans that are designed for
              elderly people above the age of 60 years. It is essential for aging parents as they are more
              vulnerable to health risks like heart ailments, kidney ailments, and other critical illnesses.</p>
              <div class="form-group">
                <button class="btn">View Plans</button>
              </div>
          </div>
  
          <div class="blockTextPlans">
            <img src="../../assets/images/health-insurance-for-coronavirus1.webp" alt="">
            <h3>Health Insurance for Coronavirus</h3>
            <p>Post COVID-19 outbreak, the IRDAI has also launched two Coronavirus specific health insurance plans
              i.e. Corona Kavach health plan and Corona Rakshak health insurance plan. Corona kavach is a family
              floater plan while Corona Rakshak is an individual coverage based plan.</p>
              <div class="form-group">
                <button class="btn">View Plans</button>
              </div>
          </div>
  
          <div class="blockTextPlans"><img src="../../assets/images/gettyimages-1152061325-612x612.jpg" alt="">
  
            <h3>Health Insurance for Family</h3>
            <p>Family health insurance offers insurance coverage to entire family against a single premium. Under
              this health plan, a defined sum insured is divided among the members equally, which can be claimed
              by one or more family members during the policy term.</p>
              <div class="form-group">
                <button class="btn">View Plans</button>
              </div>
          </div>
          <div class="blockTextPlans">
            <img src="../../assets/images/senior-citizen-health-insurance-plans1.webp" alt="">
            <h3>Health Insurance for Senior Citizens</h3>
            <p>Senior Citizen health insurance plans offer insurance coverage to the age group of 60 years and
              above. The health insurance plan covers hospitalization expenses like in-patient, pre and
              post-hospitalization expenses, OPD expenses, Daycare procedures with tax-saving benefits.</p>
              <div class="form-group">
                <button class="btn">View Plans</button>
              </div>
          </div>
  
      </div>
    </div>
    </div>
  
    <div class="block_content_wrapper">
      <h2 id="health-insurance-plans">Best Health Insurance Plans in India</h2>
      <p>We at Policybazaar can help you to buy the best health insurance plan that suits your health requirements. Below
        is
        the list of health insurance plans offered by the top insurance companies in India. You can do an online
        comparison
        and find the best health plan for yourself.</p>
      <div class="allinsurer full">
        <div style="overflow:auto">
          <table style="width: 746.219px;">
            <tbody>
              <tr>
                <td style="width: 191px;">
                  <p style="text-align: center;"><strong><span>Health Insurance Plans</span></strong></p>
                </td>
                <td style="width: 203px;">
                  <p style="text-align: center;"><strong><span>Sum Insured
                      </span></strong><strong><span><br></span></strong><strong><span>(Rs)</span></strong></p>
                </td>
                <td style="width: 69px;">
                  <p style="text-align: center;"><strong><span>Network Hospitals</span></strong></p>
                </td>
                <td style="width: 450.219px;">
                  <p style="text-align: center;"><strong><span>Key Benefits</span></strong></p>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Aditya Birla Activ Assure Diamond Plan</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 2 lakh</span><span><br></span><span>Max – 2 Crore</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>8700+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul class="data-lisitng">
                    <li>Pre-post hospitalization cover</li>
                    <li><span>In-patient hospitalization cover</span></li>
                    <li><span>Domiciliary hospitalization cover</span></li>
                    <li><span>100% Ambulance cover</span></li>
                    <li><span>AYUSH in-patient cover</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Bajaj Allianz Health Infinity Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Unlimited</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>6500+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul class="data-lisitng">
                    <li><span>Pre-post hospitalization cover</span></li>
                    <li><span>Day care procedures</span></li>
                    <li><span>Preventive health check-up</span><span>s</span></li>
                    <li><span>Road ambulance</span></li>
                    <li><span>In-patient hospitalization</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Bharti AXA Smart Health Insurance Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 50,000</span><span><br></span><span>Max – 5 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>4500+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Day care treatment cover</span></li>
                    <li><span>In-patient hospitalization benefit</span></li>
                    <li><span>Critical illness cover</span></li>
                    <li><span>Pre-post hospitalization cover</span></li>
                    <li><span>Domiciliary hospitalization</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Care Health Insurance Plan</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 3 lakh</span><span><br></span><span>Max – 75 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>16500+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>In-patient care</span></li>
                    <li><span>Alternative treatment</span></li>
                    <li><span>Organ donor cover</span></li>
                    <li><span>Pre-post hospitalization cover</span></li>
                    <li><span>Second opinion</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Cholamandalam Healthline Plan</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 1 lakh</span><span><br></span><span>Max – 25 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>6500+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Emergency ambulance expenses</span></li>
                    <li><span>Pre-post hospitalization expenses</span></li>
                    <li><span>Maternity expenses</span></li>
                    <li><span>In-patient hospitalization expenses</span></li>
                    <li><span>AYUSH coverage expenses</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Digit Health Care Plus Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p>Min – 2 lakh<br>Max – 3 crore</p>
                </td>
                <td style="width: 69px;">
                  <p><span>6400+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Hospitalization cover</span></li>
                    <li><span>Daily hospital cash cover</span></li>
                    <li><span>Critical illness cover</span></li>
                    <li><span>Complimentary health check-up</span></li>
                    <li><span>Psychiatric illness cover</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Edelweiss Health Insurance Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 1 lakh</span><span><br></span><span>Max – 1 crore</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>3200+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Day care treatment</span></li>
                    <li><span>Pre-post hospitalization cover</span></li>
                    <li><span>Maternity benefit</span></li>
                    <li><span>Ambulance cover</span></li>
                    <li><span>Hospitalization expenses</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Future Generali Health Total Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 3 lakh</span><span><br></span><span>Max – 1 crore</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>6000+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Maternity benefit</span></li>
                    <li><span>Hospitalization expenses</span></li>
                    <li><span>OPD medical expenses</span></li>
                    <li><span>Road ambulance charges</span></li>
                    <li><span>Mental </span><span>healthcare</span><span>&nbsp;cover</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>IFFCO Tokio Individual Health Protector</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 50,000</span><span><br></span><span>Max – 20 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>6400+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Hospitalization expenses</span></li>
                    <li><span>AYUSH hospitalization cover </span></li>
                    <li><span>Organ donor cover</span></li>
                    <li><span>Domiciliary hospitalization</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Kotak Mahindra Health Premier Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 3 lakh</span><span><br></span><span>Max - NA</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>5000+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>In-patient treatment</span></li>
                    <li><span>Annual health check-up</span></li>
                    <li><span>Maternity cover</span></li>
                    <li><span>Home nursing benefit</span></li>
                    <li><span>Air ambulance cover</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Liberty Health Connect Policy</strong></p>
                </td>
  
                <td style="width: 203px;">
                  <p><span>Min – 2 lakh</span><span><br></span><span>Max – 15 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>5000+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Hospital daily cash allowance</span></li>
                    <li><span>In-patient treatment expenses</span></li>
                    <li><span>Pre-post hospitalization expenses</span></li>
                    <li><span>Recovery benefit</span></li>
                    <li><span>Second opinion</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>ManipalCigna ProHealth Insurance Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 2.5 lakh</span><span><br></span><span>Max – 1 crore</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>6500+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Hospitalization expenses</span></li>
                    <li><span>Outpatient expenses</span></li>
                    <li><span>AYUSH In-patient hospitalization cover</span></li>
                    <li><span>Donor expenses</span></li>
                    <li><span>Medical check-up</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Niva Bupa (Formerly known as Max Bupa) Health Companion Plan</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 3 lakh</span><span><br></span><span>Max – 1 crore</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>7400+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Day care treatments</span></li>
                    <li><span>In-patient care</span></li>
                    <li><span>Modern treatment</span></li>
                    <li><span>Pre-post hospitalization expenses</span></li>
                    <li><span>Health check-up</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>National Mediclaim Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 1 lakh</span><span><br></span><span>Max – 10 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>6000+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>In-patient hospitalization expenses</span></li>
                    <li><span>Ambulance charges</span></li>
                    <li><span>Pre-post hospitalization expenses</span></li>
                    <li><span>Modern treatments</span></li>
                    <li><span>Mental illness cover</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>New India Assurance Mediclaim Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 1 lakh</span><span><br></span><span>Max – 15 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>3000+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Pre-post hospitalization expenses</span></li>
                    <li><span>Ambulance charges</span></li>
                    <li><span>In-patient hospitalization</span></li>
                    <li><span>Health check-up</span></li>
                    <li><span>Hospital cash allowance</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Oriental Mediclaim Insurance Policy (Individual)</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 1 lakh </span><span><br></span><span>Max – 10 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>4300+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Ambulance charges</span></li>
                    <li><span>Hospitalization expenses</span></li>
                    <li><span>Mental illness cover</span></li>
                    <li><span>Modern treatment</span></li>
                    <li><span>Telemedicine expenses</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Raheja QuBE Insurance Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 1 lakh</span><span><br></span><span>Max – 50 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>5000+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>In-patient hospitalization</span></li>
                    <li><span>Domiciliary hospitalization</span></li>
                    <li><span>Organ donor benefit</span></li>
                    <li><span>Pre-post hospitalization expenses</span></li>
                    <li><span>Medical check-up</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Reliance Health Infinity Insurance Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 3 lakh</span><span><br></span><span>Max – 1 crore</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>7300+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Emergency ambulance</span></li>
                    <li><span>In-patient care</span></li>
                    <li><span>Transportation benefit</span></li>
                    <li><span>AYUSH benefit</span></li>
                    <li><span>Day care procedures</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Royal Sundaram Lifeline Supreme </strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 5 lakh</span><span><br></span><span>Max – 50 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>5000+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Emergency domestic evacuation cover</span></li>
                    <li><span>Pre-post hospitalization expenses</span></li>
                    <li><span>Second opinion</span></li>
                    <li><span>In-patient hospitalization expenses</span></li>
                    <li><span>Annual health check-up</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>SBI Arogya Premier Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 10 lakh</span><span><br></span><span>Max – 30 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>6000+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Maternity expenses</span></li>
                    <li><span>Hospitalization expenses</span></li>
                    <li><span>Advanced treatment procedures</span></li>
                    <li><span>Mental illness cover</span></li>
                    <li><span>Air ambulance</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Star Medi Classic Insurance Policy (Individual)</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 1.5 lakh</span><span><br></span><span>Max – 15 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>11,000+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Pre-post hospitalization expenses</span></li>
                    <li><span>In-patient treatment</span></li>
                    <li><span>Modern treatment</span></li>
                    <li><span>Psychiatric &amp; Psychomatic disorder</span></li>
                    <li><span>Health check-up</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Tata AIG MediCare Insurance Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 3 lakh</span><span><br></span><span>Max – 20 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>7200+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Day care treatment</span></li>
                    <li><span>In-patient treatment</span></li>
                    <li><span>Compassionate travel</span></li>
                    <li><span>Ambulance cover</span></li>
                    <li><span>Domiciliary treatment</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>United India Individual Health Insurance Policy</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 2 lakh</span><span><br></span><span>Max – 20 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>7000+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>Pre-post hospitalization expenses</span></li>
                    <li><span>In-patient Ayurvedic treatment</span></li>
                    <li><span>H</span><span>ealth check-up</span><span>s</span></li>
                    <li><span>Day care procedures</span></li>
                    <li><span>Domiciliary hospitalization</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="width: 191px;">
                  <p><strong>Universal Sompo Complete Healthcare Insurance Plan</strong></p>
                </td>
                <td style="width: 203px;">
                  <p><span>Min – 1 lakh</span><span><br></span><span>Max – 10 lakh</span></p>
                </td>
                <td style="width: 69px;">
                  <p><span>4000+</span></p>
                </td>
                <td style="width: 450.219px;">
                  <ul>
                    <li><span>OPD treatment</span></li>
                    <li><span>Maternity expenses</span></li>
                    <li><span>Accidental dental treatment</span></li>
                    <li><span>In-patient hospitalization</span></li>
                    <li><span>Organ donor expenses</span></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="lastcards">
          <div class="lasts">
            <img src="../../assets/images/1-crore-health-insurance-v3.webp" alt="">
          </div>
          <div class="lasts">
            <img src="../../assets/images/generic-health-insurnce-rhs.webp" alt="">
          </div>
          <div class="lasts">
            <img src="../../assets/images/health-insurance-heart-patients-rhs.webp" alt="">
          </div>
          <div class="lasts">
            <img src="../../assets/images/cornona_banner_right_seo.webp" alt="">
          </div>
          <div class="lasts">
            <img src="../../assets/images/1-crore-health-insurance-v3.webp" alt="">
          </div>
          <div class="lasts">
            <img src="../../assets/images/generic-health-insurnce-rhs.webp" alt="">
          </div>
          <div class="lasts">
            <img src="../../assets/images/health-insurance-heart-patients-rhs.webp" alt="">
          </div>
          <div class="lasts">
            <img src="../../assets/images/cornona_banner_right_seo.webp" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
      
  