<div class="signup_container">
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="container">
          <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
          <label for="name"><b>Name</b></label>
          <input autocomplete="off" type="text" placeholder="Enter Name" name="name" formControlName="name" required>

          <label for="email"><b>Email</b></label>
          <input autocomplete="off" type="text" placeholder="Enter Email" name="email" formControlName="email" required>

          <label for="dob"><b>Date Of Birth</b></label>
          <input autocomplete="off" type="text" placeholder="Enter Date of Birth" name="dob" formControlName="dob" required>

          <label for="phone"><b>Phone Number</b></label>
          <input autocomplete="off" type="text" placeholder="Enter Phone Number" name="phone" formControlName="phone" required>

          <label for="gender"><b>Gender</b></label>
          <input autocomplete="off" type="text" placeholder="Enter Gender" name="gender" formControlName="gender" required>
      
          <label for="psw"><b>Password</b></label>
          <input autocomplete="off" type="password" placeholder="Enter Password" name="psw" formControlName="password" required>
      
          <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
        </div>
      
          <div class="clearfix">
            <button routerLink="" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
      </form>
    </div>