<div class="content">
    <p>
        <span>At Policybazaar, it is our constant endeavour to provide great customer experience. In case you require
            assistance, we have created multiple ways to reach out to us. We commit to resolving your queries to your
            satisfaction.</span>
    </p>
    <div class="contactWrapper">
        <div class="cta-login">
            <div class="banner-img">
                <img src="../../assets/images/contact-banner.svg" class="desktop" alt="banner-image">
               
            </div>
        </div>
        
    </div>
</div>
<div class="main">

    <div class="list-wrapper">
        <h3>My account <span class="lead-text">Fastest One-stop Servicing Gateway</span></h3>
        <ul class="type-stars">
            <li>Download policy</li>
            <li>Raise a query</li>
            <li>Share feedback</li>
            <li>Track policy status</li>
            <li>Request a callback</li>
            <li>View policy details &amp; more</li>
    </ul>
    <div class="login-btn">
        <a  id="login-btn" routerLink="login">Login to
            my account</a>
        </div>
        
    </div>
    
    
    
    
    <div class="cta-needhelp">
        <h3>Need help? <span class="lead-text">Choose how you like to connect with us</span></h3>
        <div class="rc text" id="central-login-module-trigger">
            <div class="icon"><img src="../../assets/images/request_callback.svg"><p>Request a call back</p></div>
        </div>
        <div class="chatwithus text chat-with-us">
            <div class="icon"><img src="../../assets/images/chatwithus.svg"><p>Chat with us</p></div>
        </div>
        <div class="conntectwhatapp text desk">
            <div class="icon"><img src="../../assets/images/connectwhatapp.svg"><p>Connect on Whatsapp at +91 8506013131</p></div>
            <span class="small_text"></span>
            
        </div>
        
    </div>
</div>